<% layout('layouts/boilerplate') -%>


 
<body>
    <div class="row">
        <!-- <div class="col-8 offset-2"> -->
        <div class="col-12 col-md-8 offset-md-2">

    <h2 style="margin-top: 20px; color: #fe4248;">Fill the Information</h2>
 <form method="post" action="/client/info" novalidate class="needs-validation" enctype="multipart/form-data">
     
   <div>
    <label for="name" class="form-label">Title</label>
   <input type="text" class="form-control" placeholder="Enter the Name" name="name" required>
    </div><br>
   
   <div>
      <label for="email" class="form-label">Email</label>
      <textarea class="form-control" type="text" placeholder="Enter the Email" name="email" required></textarea>
   </div><br>

   <div>
    <label for="phone" class="form-label">Phone Number</label>
   <input type="number" class="form-control"  name="number" required>
   </div><br>
   
<div class="row"> 
   <div class="col-md-3">
    <label for="company" class="form-label">Company Name</label>
   <input  class="form-control" placeholder="Enter Company" name="company" required>
    </div><br>
   
   <div class="col-md-8">
    <label for="notes" class="form-label">Notes</label>
   <input type="text" class="form-control" placeholder="Add Notes" name="notes" required>
    </div><br>
</div>

     
   
  
<button class="btn btn-primary" style="background-color: #fe4248; width:5rem;">Add</button>

<br><br>

 </form>
</div>
</div>
</body>
 